/* [class*="col"]{
    border: solid 1px black;    
} */


/* regole header */

header > nav {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 300;
}

.img-small{
    width: 40px;
}

.img{
    width: 90px;
}

.fa-bell{
    color: #ff8f00;
}

/* regole main */
.col-2{
    width: 60px;
}

.ms_row_height{
    height: calc(100vh - 50px);
}

.boolean{
    height: 85px;
    background-color: #1b72e8;
}

.nav-sx-top{
    width: 95%;
    height: 60px;
    background-color: orange;
}

.nav-sx-bottom{
    width: 95%;
    height: 60px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: orange;
}

.ms_overflow{
    overflow-y: auto;
}

.ms_margin{
    padding-left: 65px;
}

.form-control{
    background-color: #e9ecef;;
}


@media all and (min-width: 991px ) {
    .col-2{
        width: 105px;
    }

    .ms_margin{
        padding-left: 105px;
    }
}
