[class*="col"]{
    border: solid 1px black;
    /* height: 30px; */
}

/* .col-red{
    background-color: red;
} */


/* regole header */

header > nav {
    height: 50px;
    width: 100%;
    background-color: red;
    position: fixed;
    z-index: 300;
}

main{
    height: 100vh;
    background-color: blue;
}

/* regole main */
.boolean{
    background-color: #1b72e8;
}

.nav-sx-top{
    width: 95%;
    height: 60px;
    background-color: orange;
}

.nav-sx-bottom{
    width: 95%;
    height: 60px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: orange;
}

.ms_overflow{
    overflow-y: auto;
}
