/* [class*="col"]{
    border: solid 1px black;   
    min-height: 50px; 
} */

body{
    font-size: 15px;
}
.ms_font_grey{
    color: white;
}

.ms_font_light_grey{
    color: lightgrey;
}

.ms_background_blue{
    background-color: rgb(3, 3, 114);
}

.ms_background_green{
   background-color: #198754;
}

.ms_background_yellow{
    background-color: #ffc107;
 }

 .ms_background_red{
    background-color: #dc3545;
 }



.ms_main_title{
    font-size: 30px;
}

.ms_font_5{
    font-size: 40px;
}

.ms_font_blue{
    color: #0d6efd;
}

.ms_font_grey{
    color: #6c757d;
}

hr{
    margin: 0;
}

/* regole header */

header{
    height: 50px;
    width: 100%;
}

.img-small{
    width: 40px;
}

.img{
    width: 90px;
}

.fa-bell{
    color: #ff8f00;
}

/* regole main */

main{
    height: calc(100vh - 50px);
}

.dash{
    height:100%;
    overflow: auto;
    flex-grow: 1;
}

.ms_sidebar_width{
    width: 60px;
}

.ms_sidebar_height{
    height: 100%;
}

.ms_boolean{
    width: 100%;
    height: 150px;
    background-color: #1b72e8;
}

.nav-sx-top{
    width: 100%;
}

.nav-sx-bottom{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.form-control{
    background-color: #e9ecef;;
}

.ms_label_grey{
    padding: 5px 10px;
    background-color: rgba(184, 184, 184, .5);
    color: white;
    border-radius: 40px;
    font-size: .8rem;
}

.ms_intestazione_tabella{
    background-color: #f7f7f7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 1px grey;
    font-size: 1.2rem;
}

.ms_border_icon_blue{
    border: 1px solid #0d6efd;
    border-radius: 10px;
    padding: 10px 15px;
}

.ms_border_table{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
}

.ms_border_bottom{
    border-bottom: 1px solid grey;
}

.ms_border_interno_table{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 5px;
}

.ms_round_orange{
    background-color: #f26551;
    border-radius: 50%;
    padding: 5px;
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.fa-code{
    font-size: 20px;
    color: white;
}

.ms_border_grey{
    border-radius: 5px;
    border: solid 1px #6c757d;
    padding: 10px;
}

.ms_label{
    padding: 3px 10px;
    color: white;
    border-radius: 8px;
}






@media all and (min-width: 767px ) {
    .ms_sidebar_width{
        width: 105px;
    }

    .ms_calc_dash{
        width: calc(100vw - 105px);
    }

    .ms_boolean{
        width: 100%;
        height: 90px;
    }

    
}
